[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
fastapi-auth0 = "*"
fastapi-utils = "*"
uvicorn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
