[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
fastapi-utils = "*"
uvicorn = "*"
gunicorn = "*"
authlib = "*"
alembic = "*"

[dev-packages]
pytest = "*"
faker = "*"
livereload = "*"
coveralls = "*"

[requires]
python_version = "3.9"
